#result {
  display: none;
}

.container {
  text-align: center;
}

.btn {
  color: rgb(255, 94, 0);
  background-color: rgb(229, 217, 143);
}

img {
  border: royalblue;
  padding: 40px;
  margin: 20px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: rgb(56, 116, 228);
}

h1 {
  font-family: cursive;
  color:rgb(224, 90, 41);
}